.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}

.featuredItem {
  width: 250px;
  margin: 0px 20px;
  flex-wrap: wrap;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#featuredItemone {
  border-left: 8px solid blue;
}
#featuredItemtwo {
  border-left: 8px solid green;
}
#featuredItemthree {
  border-left: 8px solid rgb(54, 185, 204);
}
#featuredItemfour {
  border-left: 8px solid rgb(247, 198, 73);
}

.featureTitle {
  font-size: 20px;
}

.featuredMoneyContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}
.featuredMoney {
  font-size: 30px;
  font-weight: 600;
}

.featuredMoneyRate {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.featuredIcon {
  font-size: 14px;
  margin-left: 5px;
  color: green;
}

.featuredIcon.negative {
  color: red;
}

.featuredSub {
  font-size: 15px;
  color: grey;
}
.featureTitleMonthly {
  color: blue;
  font-weight: bold;
  font-size: 20px;
}
.Monthly:hover {
  background-color: rgb(222, 240, 246);
}
.Annual:hover {
  background-color: rgb(190, 241, 196);
}
.Tasks:hover {
  background-color: rgb(174, 238, 248);
}
.Pending:hover {
  background-color: rgb(245, 227, 181);
}

.featureTitleAnnual {
  color: green;
  font-weight: bold;
  font-size: 20px;
}
.featureTitleTasks {
  color: rgb(54, 185, 204);
  font-weight: bold;
  font-size: 20px;
}
.featureTitlePending {
  color: rgb(247, 198, 73);
  font-weight: bold;
  font-size: 20px;
}
