.chart {
  display: flex;

  height: 200px;
  margin-top: 50px;
  padding: 20px;
  justify-content: space-between;
}

.chartTitle {
  margin-bottom: 20px;
}

.piechart {
  flex: 2;
  height: 200px;
  margin-bottom: 40px;

  /* border: 2px solid black; */
}
.strokechart {
  height: 100%;
  margin-bottom: 40px;
  margin-top: 70px;
  flex: 2;
  /* border: 2px solid black; */
}

.progressBar {
  margin-top: 300px;
  /* border: 2px solid black; */
  padding: 30px;
  margin-left: 30px;
}

.Revenuesrc {
  margin-left: 200px;
}

hr {
  font-size: 2px;
}
