.container {
  display: flex;
  margin: 0;
  max-width: 100%;
  /* Very imp   */
}

.others {
  flex: 4 !important;

  /* width: 100%; */
}

* {
  font-family: "Roboto";
}
.sidebarflex {
  flex: 1;
}

.page-Not-Found {
  width: 100%;
}
