.usersInput {
  margin-left: 30%;
}

.userbutton {
  margin-left: 159px;
  margin-top: 10px;
}

input {
  margin-top: 10px;
  width: 400px;
}

.tableForm {
  border: 2px solid black;
}
th {
  border: 2px solid black;
}

td {
  border: 2px solid black;
}
